{{ define "title"}} {{ .Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}

{{ define "main" }}

<div id="hero" class="wrap">
  <h1>La voz de nuestro grupo</h1>
    <p>Nuestras experiencias dentro del proyecto MEDEA.<br> <a href="http://twitter.com/{{.Site.Params.twitter}}">Síguenos en Twitter</a></p>
</div>
<ul id="posts">

 {{ range .Paginator.Pages.ByWeight }} {{ partial "page-summary" . }} {{ end }}
  <section>{{ partial "pagination" .}}</section>
</ul>

{{ end }}
{{ define "footer" }}
  {{ partial "footer" . }}
{{ end }}
